/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #000000EE;
    bg1:    #11111199;
    bg2:    #1a1a1a80;
    bg3:    #262626AA;
    fg0:    #ffffffFF;
    fg1:    #e0e0e0FF;
    fg2:    #999999FF;
    fg3:    #444444FFw;
}

@import "template/rounded-template.rasi"
